<div class="text_font">
  <div class="table-wrap">
    <div class="wrapper fadeInDown">
      <div id="formContent">
      
        
        <table class="registration">
          <h3>新規作成</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="registration-field">
            <tr>
              <th><%= f.label :名前 %></th>
              <td><%= f.text_field :name, size: "10x30" %></td>
            </tr>  
          </div>
          <div class="registration-field">
            <tr>
              <th><%= f.label :誕生日 %></th>
              <td><%= f.date_field :birthday %></td>
            </tr>
          </div>
          
          <div class="registration-field">
            <tr>
              <th><%= f.label :出身地 %></th>
              <td><%= f.text_field :birthplace %></td>
            </tr>
          </div>
          
          <div class="registration-field">
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
          </div>
          
          <div class="gender-field">
            <tr>
              <th><%= f.label :性別 %></th>
              <td>
                <%= f.label :man  %>
                <%= f.radio_button :gender, :man %>
                <%= f.label :woman  %>
                <%= f.radio_button :gender, :woman %>
              </td>
            </tr>
          </div>
        
          <div class="registration-field">
            <tr>
              <th><%= f.label :パスワード %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
            <th><%= f.label :パスワード確認用 %></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
          </div>
        </table>
          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>