<div class = "text_font">
    <div class="main">
        <!--画像スライダー-->
        <div class="container1">
            <div id="slider">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <h1><i class="fas fa-suitcase-rolling"></i>TraReco</h1>
                    <p1>思い出をシェアしよう♪</p1>
                </div>
            </div>
        </div>
       
         <!--検索-->
        <div class="container py-4" id="works">
            <h2><i class="fas fa-book-open"></i>新着記録</h2>
            <%= search_form_for @q, url:shares_path do |f| %>
                <i class="fas fa-search"><%= f.search_field :title_cont,placeholder: "旅行先名を入力してください",size: "30x30" %></i>
                <%= f.submit "検索" ,class:"fas fa-search"%>
            <% end %>
            
            <div class="cards">
                <% @newrecords.each do |share| %>
                    <div class="card">
                        <% share.post_files.first(1).each do |image| %>
                            <%= link_to share_path(share) do%>
                                <%= attachment_image_tag image, :image, :fill, 200, 200 %></br>
                                <h6 class="card-title"><%= share.title %></h6>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <%= link_to "みんなの投稿を見る",shares_path, class: "btn btn-primary"%>
        </div>
    
    </main>
</div>
<script>
$(function() {
    $('#slider').vegas({
        transition: 'fade2',
        transitionDuration: 2000,
        delay: 5000,
        animationDuration: 20000,
        animation: 'random',
        slides: [
                { src: "<%= asset_path 'top.jpg' %>"},
                { src: "<%= asset_path 'top2.jpg' %>"},
                { src: "<%= asset_path 'top3.jpg' %>"},
                { src: "<%= asset_path 'top4.jpg' %>"}
            ]
    });

});
</script>