<% if @schedule.errors.any? %>
    <%= @schedule.errors.count %>件のエラーが発生しました
    <% @schedule.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<div class="text_font">
 <div class="main">
  <div class="headding">
   <h2><i class="fas fa-marker"></i>タイムスケジュール作成</h2>
  </div>
 
 
 
 
  <%= form_with model:@schedule,url: plan_schedules_path, local: true do |f| %>
 
 
     <%= f.label :項目 %><span class="badge badge-danger">必須</span>
     <%= f.text_field :plan_title, maxlength: "12",placeholder: "昼ごはん"  %></br>
     
     <%= f.label :開始時刻%><span class="badge badge-danger">必須</span>
     <%= f.time_field :start_time %></br>
     
      <%= f.label :終了時刻%><span class="badge badge-danger">必須</span>
     <%= f.time_field :finish_time %></br>
     
     
  
     <%= f.label :ジャンル選択 %><span class="badge badge-danger">必須</span>
     <%= f.collection_select(:genre_id, @genres, :id, :name, include_blank: true) %></p>
     
     <%= f.label :値段 %>
     <%= f.text_field :budget,autofocus: true, maxlength: "8" %></br>
     
     <%= f.label :住所 %>
     <%= f.text_field :address,autofocus: true, maxlength: "15" %></br>
     
     
     <%= f.label :メモ %>
     <%= f.text_area :memo,autofocus: true, maxlength: "30", size: "50×150",placeholder: "30文字まで入力可能" %></br>
     
      <%= f.submit '作成' %>
      
      
     
  <% end %>
 </div>
</div>