<% if @record.errors.any? %>
    <%= @record.errors.count %>件のエラーが発生しました
    <% @record.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>
<div class="text_font">
    <div class="main">
        <div class="headding">
            <h2><i class="fas fa-marker"></i>記録作成</h2>
        </div>
        <!-- 記録作成 -->
        <%= form_with model:@record, local:true do |f| %>
             <%= f.attachment_field :post_files_images, multiple: true %></br>
        
            <%= f.label :タイトル%><span class="badge badge-danger">必須</span>
            <%= f.text_field :title %></br>
            
            <%= f.label :日付%><span class="badge badge-danger">必須</span>
            <%= f.date_field :record_date %></br>
            
            <%= f.label :アルバム%>
            <%= f.collection_select(:itinerary_id, @itineraries, :id, :itinerary_name, include_blank: "選択しない",size: "20x20") %></p>
            
            <%= f.label :都道府県選択 %><span class="badge badge-danger">必須</span>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "どこ？"} %></br>
            
            <%= f.label :ジャンル%><span class="badge badge-danger">必須</span>
            <%= f.collection_select(:genre_id, @genres, :id, :name, include_blank: "ジャンルは？",size: "20x20") %></p>
            
            
            <%= f.label :値段%>
            <%= f.text_field :price %></br>
            
            <%= f.label :住所%>
            <%= f.text_field :address %></br>
            
            <%= f.label :メンバー%>
            <%= f.text_field :member %></br>
            
            <%= f.label :感想%></br><span class="badge badge-danger">必須</span>
            <%= f.text_area :body,size: "100x10" %></br>
            
            
     
            <%= f.submit '投稿' %>
     
    
        <% end %>
    </div>
</div>