<div class="text_font">
  <div class="main">
    <div class="headding">
      <h2>管理者ログイン</h2>
    </div>
    <div class="wrapper fadeInDown">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :管理者アドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :管理者PASS%><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "admins/shared/links" %>
