
<html lang="ja">
  
  <head>
    <%= csrf_meta_tag %>
    <title>TrarecoApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--画面スライダー-->
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.scss"/>-->
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.scss"/>-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
    
    <%= include_gon %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
  <header>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.jpg" />
  
      <div class="container">
      
        <nav class="navbar navbar-expand-lg navbar-dark">
        <script src="https://kit.fontawesome.com/e9525941b3.js" crossorigin="anonymous"></script>
        </div>
        
        <!--ナビゲーションバー-->
        <div class='fixed-top'>
          <nav>
            
            <% if customer_signed_in? %>
              <div class="navitem">
                <%= image_tag 'logo.jpg',size: "90x90"%>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Home", root_path %>
                </button>
                
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Album",  itineraries_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "My List", lists_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Genre",genres_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Record",records_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Plan",plans_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Mypage", customer_path(current_customer.id) %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Logout", destroy_customer_session_path, method: :delete %>
                </button>
                </div>
                
                
              <% elsif admin_signed_in? %>
              <div class="navitem">
                <%= image_tag 'logo.jpg',size: "90x90"%>
              
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Home", root_path %>
                </button>
                
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Customer", admin_customers_path %>
                </button>
                
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
                </button>
                
              
              <% else %>
              
                <div class="navitem">
                <%= image_tag 'logo.jpg',size: "90x90"%>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Share", root_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Signup" , new_customer_registration_path %>
                </button>
                <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Login", new_customer_session_path %>
                </button>
              <% end %>
            </div>
          </nav>
        </div>
  
  </header>
  
  
  <%= yield %>

  
  <footer>
  2022  Record Travel
  </footer>
  
  
  </body>
</html>
